@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-arabic {
  font-family: 'Noto Sans Arabic', Arial, sans-serif;
}

[dir="rtl"] {
  font-family: 'Noto Sans Arabic', Arial, sans-serif;
}
